body {
  margin: 0;
  top: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side,
.right-side {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: white;
}

.right-side {
  background-color: #fcfcfc;
}

.left-side {
  background-color: #fcfcfc;
}
