/* general settings */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.main-side {
    background-color: #f4f4f4;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-bar {
    width: 1800px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 0px;
}

h3 {
    font-size: 24px;
    margin: 20px 0;
}

h5 {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    background-color: white;
        color: #333;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        font-size: 16px;
        cursor: pointer;
}

button:hover {
    background-color: #f1f1f1;
  }


/* Checkbox ve yazı için stil */
.remember-me {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.remember-me input {
    margin-right: 10px;
}

.forgot-password {
    color: #f4f4f4;
    text-decoration: none;
    margin-left: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}